.auth-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 2.5rem;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

input {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.7rem;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  background: var(--primary);
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
}
